.title{
  text-align: center;
}

.table-container {
    padding: 20px;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.data-table th {
    padding: 10px;
    background-color: #f4f4f4;
    border: 1px solid black;
}

.data-table td {
    padding: 10px;
    border: 1px solid black;
}